<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>謎解き(仮)</title>
    <link rel="stylesheet" href="/static/css/story.css">
</head>
<body>
    <header>
        <h1 class="title">タイトル</h1>
        <button class="hamburger" onclick="toggleMenu()">&#9776;</button>
    </header>
    <nav class="nav" id="nav">
        <ul class="menu-group">
            <li class="menu-item"><a href="hints">ヒント</a></li>
            <li class="menu-item"><a href="map">地図</a></li>
            <!-- <li class="menu-item"><a href="#contact">Contact</a></li> -->
        </ul>
    </nav>
    <!-- <h1>オープンキャンパス謎解き</h1> -->
    <p>ユウ「ん？なんか表示されたぞ。」</p>
    <p>キイ「ひょっとしてこれが例の画像！？パッと見た感じ謎っぽいねぇ」</p>
    <p>ユウ「（怖い感じのじゃなくてよかった…」</p>
    <p>キイ「ん？なんか言った？」</p>
    <p>ユウ「い、いや別に。それよりこれ解いてみる？」</p>
    <p>キイ「あったりまえじゃ〜ん！解いてみようよ！」</p>
    <div style="text-align: center;">
        <a href="inputchatbot1" class="page-button">ページ1へ</a>
    </div>
    <script>
        function toggleMenu() {
            const nav = document.getElementById('nav');
            if (nav.style.right === '0px') {
                nav.style.right = '-250px';
            } else {
                nav.style.right = '0';
            }
        }
    </script>
</body>
</html>