<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>謎解き(仮)</title>
    <link rel="stylesheet" href="/static/css/story.css">
</head>
<body>
    <header>
        <h1 class="title">タイトル</h1>
        <nav class="nav">
            <ul class="menu-group">
                <!-- <li class="menu-item"><a href="hints">ヒント</a></li> -->
                <!-- <li class="menu-item"><a href="#">項目2</a></li>
                <li class="menu-item"><a href="#">項目3</a></li>
                <li class="menu-item"><a href="#">項目4</a></li>
                <li class="menu-item"><a href="#">項目5</a></li> -->
            </ul>
        </nav>
        <a href="hints" class="hint-button">ヒント</a>
    </header>
    <h1>オープンキャンパス謎解き</h1>
    <p>ユウ「ん？なんか表示されたぞ。」</p>
    <p>キイ「ひょっとしてこれが例の画像！？パッと見た感じ謎っぽいねぇ」</p>
    <p>ユウ「（怖い感じのじゃなくてよかった…」</p>
    <p>キイ「ん？なんか言った？」</p>
    <p>ユウ「い、いや別に。それよりこれ解いてみる？」</p>
    <p>キイ「あったりまえじゃ〜ん！解いてみようよ！」</p>
</body>
</html>