<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <title>謎解き(仮)</title>
    <link rel="stylesheet" href="/static/css/story.css">
    <!-- <style title=visualStyle type=text/css>
        @import url(./static/css/story.css);
    </style> -->
</head>
<body>
    <header>
        <h1 class="title">タイトル</h1>
        <button class="hamburger" onclick="toggleMenu()">&#9776;</button>
    </header>
    <nav class="nav" id="nav">
        <ul class="menu-group">
            <li class="menu-item"><a href="hints">ヒント</a></li>
            <li class="menu-item"><a href="map">地図</a></li>
            <!-- <li class="menu-item"><a href="#contact">Contact</a></li> -->
        </ul>
    </nav>
    <!-- <h1>オープンキャンパス謎解き</h1> -->
    <p>得たパスコードをチャットボットに入力した、すると</p>
    <p>キイ「…」</p>
    <p>ユウ「…何もおきないな」</p>
    <p>キイ「うぅ…そんなぁ……ここまで来て、何もないのぉ……」</p>
    <p>ユウ「そんなしょもしょもするなって。なんもないに越した事ないだろ。やっぱりただの謎解きだって」</p>
    <p>キイ「あぐぅ…」</p>
    <p>キイは力が抜けたようにトボトボ歩き出し、7階まで階段を登った。</p>
    <p>キイ「せっかく上の方まで来たからね、一番上まで見ておくとするよぉ」</p>
    <p>ユウ「やっとマジメにオープンキャンパスし始めたな…にしてもでかいな〜この部屋。俺もあれぐらいでかいモニター欲しい…」</p>
    <p>？「そ、そこの君たち！ありがとう！！！助かったよ！！！頑張って謎作ってよかった〜！」</p>
    <p>ユウの話に被せるように眼鏡をかけた女性に話しかけられた。走ってきたのか若干息が切れているようだった。</p>
    <p>ユウ「うお！？」</p>
    <p>？「あ、ごめんね！驚かせちゃって。いや〜焦ったよ。パソコンに閉じ込められちゃってね、外部からどうにかするしかなかったからさ〜！君たちがいなかったらどうなってたことか！…あっそうだ！仲間に伝えておかないと！それじゃあね！」</p>
    <p>ユウ「あっ、ちょっ…」</p>
    <p>ユウが止めるより先に女性は走り出してしまった。</p>

    <div style="text-align: center;">
        <a href="endstory2" class="page-button">エンディング２へ</a>
    </div>
    <script>
        function toggleMenu() {
            const nav = document.getElementById('nav');
            if (nav.style.right === '0px') {
                nav.style.right = '-250px';
            } else {
                nav.style.right = '0';
            }
        }
    </script>
</body>
</html>