<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <title>謎解き(仮)</title>
    <link rel="stylesheet" href="/static/css/story.css">
    <!-- <style title=visualStyle type=text/css>
        @import url(./static/css/story.css);
    </style> -->
</head>
<body>
    <header>
        <h1 class="title">タイトル</h1>
        <button class="hamburger" onclick="toggleMenu()">&#9776;</button>
    </header>
    <nav class="nav" id="nav">
        <ul class="menu-group">
            <li class="menu-item"><a href="hints">ヒント</a></li>
            <li class="menu-item"><a href="map">地図</a></li>
            <!-- <li class="menu-item"><a href="#contact">Contact</a></li> -->
        </ul>
    </nav>
    <!-- <h1>オープンキャンパス謎解き</h1> -->
    <p>キイ「また嵐のようだったねぇ」</p>
    <p>ユウ「ほんとなんなんだ。色々と」</p>
    <p>キイ「…あの眼鏡の人、現実で音信不通になってて、本人はパソコンに閉じ込められてるって言ってるんだよねぇ。もし本当に閉じ込められているとしたら辻褄あっちゃうなぁ」</p>
    <p>ユウ「は？何言って…」</p>
    <p>キイ「だってさ、ユウもキミも私も、あの眼鏡さんと面識ないでしょ？なんで私たちが謎解けてるか知ってるの？」</p>
    <p>ユウ「ど、どっかから謎解きしてるところを見てたとかだろ」</p>
    <p>キイ「それだったらもっと早く目撃情報出てるでしょ。いっぱい人いるんだし。それに、外部からどうにかするしかなかったとか言ってたよね？あれ、私たちがパスコードをチャットボットに入力したことによってパソコンから出れたとしたら、タイミングもちょうど良くない？」</p>
    <p>ユウ「いやそんなわけ…」</p>
    <p>キイ「パソコンに閉じ込められた眼鏡さんは、チャットボットを介して、スマホの内部カメラから謎解きをしている私たちのことを見ていた。だから私たちのことを知っている。とか！どう？辻褄は合うでしょ？」</p>
    <p>ユウ「辻褄は合うけど！現実味がない！！！」</p>
    <p>キイ「そんなぁ〜」</p>
    <p>ユウ「話聞いた感じだと眼鏡の人が勝手に色々追加してて、それをたまたま俺たちが解いただけだろ？」</p>
    <p>キイ「自分のパソコン置きっぱなしにしてたのに？」</p>
    <p>ユウ「…あー！この話おしまい！！！」</p>
    <p>キイ「えぇ〜ちょうど一番面白いところなのに〜怖がりだなぁ」</p>
    <p>ユウ「そうだよ！怖いんだよお前の推理！！！怖すぎてパソコン使えなくなる！！！」</p>
    <p>キイ「仕方ないなぁ〜名探偵キイちゃんの推理はここまでにしておいてあげよう…よし、せっかく上の方まで来たんだし、オープンキャンパス再開としますかぁ。また色々見てる間にね、さっきの人たちにも会えるかもだし。会えたら真相、聞かないとねぇ〜」</p>
    <p>ユウ「もう首突っ込むのはやめとけ！」</p>
    <p>キイ「いいの？このままだと私の推理の方が有力になっちゃうよ？真相聞いて、実はなんてことありませんでした〜の方がユウは安心するでしょ」</p>
    <p>ユウ「それも、そうだな。他の話はそんな感じだったし。まあ会えたら聞くってことで」</p>
    <p>キイ「キミもそれでいい？よし、それじゃレッツゴ〜！」</p>
    <p>そして、3人は再び、見学し始めるのであった。</p>
    <p>完</p>

    <!-- <div style="text-align: center;">
        <a href="anser1" class="page-button">エンディング１へ</a>
    </div> -->
    <script>
        function toggleMenu() {
            const nav = document.getElementById('nav');
            if (nav.style.right === '0px') {
                nav.style.right = '-250px';
            } else {
                nav.style.right = '0';
            }
        }
    </script>
</body>
</html>