<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>謎解き(仮)</title>
    <link rel="stylesheet" href="/static/css/story.css">
</head>
<body>
    <header>
        <h1 class="title">タイトル</h1>
        <button class="hamburger" onclick="toggleMenu()">&#9776;</button>
    </header>
    <nav class="nav" id="nav">
        <ul class="menu-group">
            <li class="menu-item"><a href="hints">ヒント</a></li>
            <li class="menu-item"><a href="map">地図</a></li>
            <!-- <li class="menu-item"><a href="#contact">Contact</a></li> -->
        </ul>
    </nav>
    <h1>オープンキャンパス謎解き</h1>
    <p>学生（男）「オープンキャンパスの準備中？うーん、間違えて消しちゃって丸一日かけて作ったプログラムがぶっ飛んだことぐらい？ミスした後に焦ってまたミスして…ってやってたら復元できなくなってさ〜。</p>
    <p>あ〜俺の今日の頑張りの意味とは…って虚無になって、一日作業する気にならなかったよ。やらかして１日分、虚無って１日分進捗ゼロだったからそのあとが大変だったよ。」</p>
    <div style="text-align: center;">
        <a href="middlestory" class="page-button">ページ1へ</a>
    </div>
    <script>
        function toggleMenu() {
            const nav = document.getElementById('nav');
            if (nav.style.right === '0px') {
                nav.style.right = '-250px';
            } else {
                nav.style.right = '0';
            }
        }
    </script>
</body>
</html>